<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center mt-0 container-fluid "> <!-- Ajuste en el margen superior -->
      <h1 class="display-6 mt-4">Notas</h1>
      <p class="lead mb-1">Es este apartado puedes buscar las notas acceder a ellas o eliminarlas.</p>
      <!-- Cambio en la clase para reducir el tamaño de la letra -->
    </div>
  </div>

</div>
<div class="contenedor">
<div>
<div>
  <div>
    <div>
      <input
        type="text"
        class="form-control"
        placeholder="Busca la nota por título"
        [(ngModel)]="title"
        />
        <br>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
            >
            Buscar
          </button>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div>
      <h4>Tutorials List</h4>
      <ul class="list-group">
        @for (tutorial of tutorials; track tutorial; let i = $index) {
          <li
            class="list-group-item"
            [class.active]="i == currentIndex"
            (click)="setActiveTutorial(tutorial, i)"
            >
            {{ tutorial.title }}
          </li>
        }
      </ul>

      <button class="m-3 btn btn-sm btn-dark" (click)="removeAllTutorials()">
        Remove All
      </button>
    </div>
    <div>
      <app-tutorial-details
        [viewMode]="true"
        [currentTutorial]="currentTutorial"
      ></app-tutorial-details>
    </div>
  </div>
  </div>
</div>
