<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" routerLink="#"><i class="fab fa-angular"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Api proyects
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/clima">Clima App</a></li>
                        <li><a class="dropdown-item" routerLink="/github">Github</a></li>
                        <li><a class="dropdown-item" routerLink="/peliculas">Films</a></li>   
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Proyects 
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/adivinanza">Adivinanza App</a></li>
                        <li><a class="dropdown-item" routerLink="/validacion">Validacion App</a></li>
                        <li><a class="dropdown-item" routerLink="/objeto-window">Objeto Window App</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Server proyect
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/tutorials">Notas</a></li>
                        <li><a class="dropdown-item" routerLink="/add-tutorial">Añadir nota</a></li>
                    </ul>
                </li>
                
            </ul>
            <div class="buscador">
            <form class="d-flex" role="search">
                <input type="text" [(ngModel)]="textoBusqueda" id="buscar" class="form-control me-2" placeholder="Buscar" name="buscar">
                <button class="btn btn-outline-dark" type="submit" (click)="buscar()">Buscar</button>
            </form>
            </div>
        </div>
    </div>
</nav> 
