<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center mt-0 container-fluid "> <!-- Ajuste en el margen superior -->
            <h1 class="display-6 mt-4">Clima App</h1>
            <p class="lead mb-1">Ingresa cualquier ciudad del mundo y te proporcionaremos la temperatura y la humedad actual.</p> <!-- Cambio en la clase para reducir el tamaño de la letra -->
        </div>
    </div>
</div>

<div class="contenedor">
    <input type="text" [(ngModel)]="ciudad" placeholder="Ingrese una ciudad" aria-label="Ingrese una ciudad">
    <br>
    <button class="btn btn-dark" (click)="buscarCiudad()" id="botonBusqueda" >Buscar</button>
    @if (datosClima.ciudadNombre) {
    <div id="datosClima">
        <h2>{{ datosClima.ciudadNombre }}, {{ datosClima.paisNombre }}</h2>
        <p>La temperatura es: {{ datosClima.temperatura }}ºC</p>
        <p>La humedad es: {{ datosClima.humedad }}%</p>
        <img [src]="datosClima.icono" alt="Icono del clima">
        <p>La descripción meteorológica es: {{ datosClima.descripcion }}</p>
    </div>
    }
</div>