<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center mt-0 container-fluid "> <!-- Ajuste en el margen superior -->
            <h1 class="display-6 mt-4">Objeto Window App</h1>
            <p class="lead mb-1">En este proyecto pondremos en práctica unas cuantas funciones del objeto window, para comprender su funcionamiento.</p>
            <!-- Cambio en la clase para reducir el tamaño de la letra -->
        </div>
    </div>
</div>
<div class="contenedor">
<button class="btn btn-dark" (click)="openNewWindow()">Open new Window</button><!-- abre una ventana nueva -->
<button class="btn btn-dark" (click)="closeWindow()">Close Window</button><!-- cierra la ventana -->
<button class="btn btn-dark" (click)="moveWindowTo()">Move to Window</button><!-- mueve la ventana-->
<button class="btn btn-dark" (click)="resizeWindow()">Resize Window</button><!-- redimensiona la ventana-->
<button class="btn btn-dark" (click)="printPage()">Print Page</button><!-- imprime la pagina-->
<button class="btn btn-dark" (click)="resizeToWindow()">Resize To</button><!-- redimensiona la ventana-->
<button class="btn btn-dark" (click)="alertWindow()">Alert</button><!-- muestra un mensaje-->
<button class="btn btn-dark" (click)="confirmWindow()">Confirm</button><!-- muestra un mensaje-->

</div>
