:host {
    padding-top: auto;
    margin: 0;
}

h1 {
    color: black;
    /* Azul Bootstrap */
}

.lead {
    color: gray;
    /* Verde Bootstrap */
}
img{
    width: 20%;
    height: auto;

}

.visit-counter {
    background-color:lightgray;
    
    border-radius: 8px;
    
    border-radius: 10px;
    
    padding: 10px;
    
    font-size: 18px;
   
    font-weight: bold;
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition:0.5s;
}
button:hover {
    scale: 1.2;
}