<div class="nga-container-sidebar">
    <ul class="list-unstyled p-2">
        <li class="mb-1">
            <button class="btn nga-btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#home-collapse" aria-expanded="false">
                API proyects
            </button>
            <div class="collapse" id="home-collapse">
                <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a routerLink="/clima" class="link-dark rounded"><i
                                class="fa-cloud fa-solid text-primary mt-1 me-2"></i>Clima App</a>
                    </li>
                    <li>
                        <a routerLink="/github" class="link-dark rounded"><i
                                class="fa-brands fa-github text-primary mt-1 me-2"></i>GitHub App</a>
                                
                    </li>
                    <li>
                        <a routerLink="/peliculas" class="link-dark rounded"><i
                                class="fa-solid fa-film text-primary mt-1 me-2"></i>Films App</a>
                                
                    </li>
                    
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn nga-btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#orders-collapse" aria-expanded="false">
                Proyects
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a routerLink="/adivinanza" class="link-dark rounded"><i
                                class="fa-solid fa-question text-primary mt-1 me-2"></i>Adivinanza App</a>
                                
                    </li>
                    <li>
                        <a routerLink="/validacion" class="link-dark rounded"><i
                                class="fa-solid fa-address-card text-primary mt-1 me-2"></i>Validacion App</a>
                               
                    </li>
                    <li>
                        <a routerLink="/objeto-window" class="link-dark rounded"><i class="fa-solid fa-o text-primary mt-1 me-2"></i>Objeto
                            window App</a>
                            <i class="fa-sharp fa-regular fa-window"></i>
                            
                    </li>
                   
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn nga-btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#account-collapse" aria-expanded="false">
                Server proyect
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a routerLink="/tutorials" class="link-dark rounded">
                            <i class="fa-solid fa-clipboard text-primary mt-1 me-2"></i>Notas</a>
                    </li>
                    <li>
                        <a routerLink="/add-tutorial" class="link-dark rounded">
                            <i class="fa-solid fa-clipboard text-primary mt-1 me-2"></i>Añadir notas</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

