<!-- app.component.html -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center mt-0 container-fluid "> <!-- Ajuste en el margen superior -->
            <h1 class="display-6 mt-4">Github App</h1>
            <p class="lead mb-1">Ingresa un Username de Github y te proporcionaremos la localización, el numero de repositorios públicos, seguidores y el enlace de su perfil.</p>
            <!-- Cambio en la clase para reducir el tamaño de la letra -->
        </div>
    </div>
</div>
<div class="contenedor">
<br>
<div>
    <input type="text" id="username" placeholder="Ingrese un usuario"required [(ngModel)]="username">
    <br>
    <br>
    <button class="btn btn-dark" (click)="getUserInfo()">Get User Info</button>
</div>

<div id="result">
    <h2>{{ userData.name }}</h2>
    <p>Username: {{ userData.login }}</p>
    <p>Location: {{ userData.location || 'Not available' }}</p>
    <p>Public Repositories: {{ userData.public_repos }}</p>
    <p>Followers: {{ userData.followers }}</p>
    <p>Profile: <a [href]="userData.html_url" target="_blank">{{ userData.html_url }}</a></p>
</div>

<textarea id="jsonSnippet" rows="10" cols="55" readonly>{{ jsonSnippet }}</textarea>
</div>
