@if (viewMode) {
  <div class="contenedor">
    @if (currentTutorial.id) {
      <div>
        <h4>Nota</h4>
        <div>
          <label><strong>Título:</strong></label> {{ currentTutorial.title }}
        </div>
        <div>
          <label><strong>Descripción:</strong></label>
          {{ currentTutorial.description }}
        </div>
        <div>
          <label><strong>Estado:</strong></label>
          {{ currentTutorial.published ? "Published" : "Pendiente" }}
        </div>
        <br>
        
       
        <button class="btn btn-dark"><a style="text-decoration: none;" class="badge badge-warning" routerLink="/tutorials/{{ currentTutorial.id }}">
          Editar
        </a></button>
      </div>
    }
    @if (!currentTutorial) {
      <div>
        <br />
        <p>Por favor dale click a notas</p>
      </div>
    }
  </div>
} @else {
  @if (currentTutorial.id) {
    <div class="edit-form">
      <h4>Nota</h4>
      <form>
        <div class="form-group">
          <label for="title">Título</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentTutorial.title"
            name="title"
            />
          </div>
          <div class="form-group">
            <label for="description">Descripción</label>
            <input
              type="text"
              class="form-control"
              id="description"
              [(ngModel)]="currentTutorial.description"
              name="description"
              />
            </div>
            <br>
            <div class="form-group">
              <label><strong>Estado:</strong></label>
              {{ currentTutorial.published ? "Publicada" : "Pendiente" }}
            </div>
            <br>
          </form>
          @if (currentTutorial.published) {
            <button
              class="badge badge-primary mr-2"
              (click)="updatePublished(false)"
              >
              Retirar
            </button>
          }
          @if (!currentTutorial.published) {
            <button
              class="badge badge-primary mr-2"
              (click)="updatePublished(true)"
              >
              Publicar
            </button>
          }
          <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
            Eiminar
          </button>
          <button
            type="submit"
            class="badge badge-success mb-2"
            (click)="updateTutorial()"
            >
            Actualizar
          </button>
        </div>
      }
      @if (!currentTutorial.id) {
        <div>
          <br />
          <p>No se puede acceder a esta nota</p>
        </div>
      }
    }

